.black-color{
    color: black !important;
}
.white-color{
    color: white !important;
}
    header{
        height:65px !important;
    }
.content-sp{
    height: auto !important;
}
.page-sp{
    margin: 10px;
}
.dropdown{
    width: 100%;
    margin-left: -5px;
}
.dropdown-sp{
    width: 100% !important;
}

.btn-ins.dropdown-toggle{
    background-color:#e0e0e0!important;
}
.sub-category-sp{
    margin-top:26px;
}
.card-title-sp{
    font-size:17px !important;
    text-overflow: ellipsis;
    clear: left;
}
.col-md-6,.col-lg-3{
    padding:10px !important;
}
.dropdown-menu{
    width: 100%;
}
.card-detail{
    display: none;
    transition: 5s;
    position: absolute;
    z-index: 90;
    top: 0px;
    margin-left: 100%;
    width: 300px;
    overflow: hidden;
    background-color:#efebe9 ;
    border: 2px solid black;
}
.blockquote span{
    line-height: 1.9;
    font-weight: 300px;
    font-weight: 300;
    text-align: justify !important;
    letter-spacing: -1px;
}
.bq-title{
    text-align: center;
    text-transform: uppercase;
    padding: 2px 25px 8px 25px !important;
}
.screen-card-4-sp{
    /* display: block; */
    top: 0px;
    margin-left: -340px;
    width: 300px;
}
.title{
    font-size: 15px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: #2bbbad !important;
}
@media screen and (min-width: 768px) {
    .menu-sp{
        display: none;
    }
    .dropdown{
        display: block !important;
    }

}
@media screen and (max-width: 768px) {
    .sub-category-sp{
        margin-top:6px;
    }
    .dropdown{
        display: none;
    }
}


nav#navbar-example2 {
    background-color: #2bbbad;
}

.navbar.navbar-dark form .md-form input:focus:not([readonly]){
    border-color: #ffffff !important;
    border-bottom: #ffffff;
    box-shadow: #ffffff !important;
}