/* Header */
html,
body,
header,
.jarallax {
  height: 100%;
}
.top-nav-collapse {
    background-color: #2bbbad !important;
  }
  
  /* .navbar:not(.top-nav-collapse) {
    background: transparent !important;
  } */
  p.title{
    font-size: 15px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: #2bbbad !important;
  }
@media (max-width: 740px) {
  html,
  body,
  header,   
  .jarallax {
    height: 100vh;
  }
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #2bbbad !important;
  }
  .jarallax {
    height: 90vh;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #2bbbad !important;
  }
  .card-img-top{
      background-size: 100%;
  }


h5 {
  letter-spacing: 3px;
}

li.nav-item {
    margin-left: 20px;
}


/* End Header */


/* Content */
    /* Library Content */
    .sub-title{
        color: #354860;
    }

 
    img.card-img-top.img-book-padding:hover{
        transition: 0.2s linear;
        transform:scale(2.02);
        -ms-transform:scale(1.02); /* IE 9 */
        -moz-transform:scale(1.02); /* Firefox */
        -webkit-transform:scale(1.02); /* Safari and Chrome */
        -o-transform:scale(1.02); /* Opera */ 
    }
    /* End Library Content */


/* End Content */


/* Footer */
.footer-wrapper-sp{
    height: 300px;
    background: #2bbbad;
    padding: 40px;
    padding-bottom: 0;
}   

.footer-container-sp{
    width: 100%;
    height: 226px;
    display: flex;
    border-bottom: 1px solid rgba(255,255,255,.5);
}

.footer-sp{
    flex-grow: 1;
    width: 100px;
}

.footer-sp p{
    color: rgba(255,255,255,.5);
}

.footer-social-sp p:first-child{
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 25px;
}

.footer-social-sp p{
    margin: 0;
    color: rgba(255,255,255,.5);
}


.social-icon-sp img{
    margin: 10px;
    margin-left: 0;
    width: 50px;

}
.btn-outline-secondary{
    color: rgba(255,255,255,.5);
    border-color: #354860;
}
.btn-outline-secondary:hover{
    background-color: #2bbbad;  
}
/* End Footer */


@media (max-width: 740px) {
    html,
    body,
    header,   
    .jarallax {
      height: 100vh;
    }
  }
  
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background: #2bbbad !important;
    }
    .jarallax {
      height: 90vh;
    }

  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background: #2bbbad !important;
    }
    .card-img-top{
        background-size: 100%;
    }
  
  }
  
  @media (min-width: 600px) and (max-width:992px){
      .navbar:not(.top-nav-collapse) {
          background: #2bbbad !important;
        }
      .navbar.scrolling-navbar{
          background-color: #2bbbad;
      }
      .jarallax {
          height: 90vh;
        }
      /* img.card-img-top.img-book-padding{
          height: 400px;
      } */
  }

  @media  (min-width:765px) and (max-width:991px){
    img.card-img-top.img-book-padding{
        max-width: 100%;
        width: 100%;
        height: 150px;
    }
  }
  @media (min-width:991px){
    img.card-img-top.img-book-padding{
        max-width: 100%;
        width: 100%;
        height: 250px;
    }
  }



}


