.container-fluid-size-inner-edit{
    padding: 0px 90px;
}
.container-full-size-edit{
    padding-right: 0px;
    padding-left: 0px;
}
.navbar-background{
    background: rgb(236, 236, 222);
}
.red{
    background: red;
}
.gold{
    background: gold;
}
.library-header{
    background: rgb(236, 236, 222);
    padding: 2% 5% 3% 4%;
    border-bottom: 4px solid lightgreen;
}
.style-border-bottom{
    border-bottom: 5px solid white;
}

.img-book-padding{
    padding: 5px;
    /* height: 280px; */
}
.card-shadow{
    border: 1px solid rgb(241, 234, 234);
    box-shadow: 5px 2px 2px rgb(153, 147, 147);
}
.col-md-2{
    max-width: 20% !important;
}
.space-letter-heading{
    letter-spacing: 5px;
    color: #2bbbad;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.border-bm{
    border-bottom:4px solid #2bbbad;
}
.card:hover img{
    opacity: 0.8;
    transition: 0.2s linear;
    transform:scale(1.01);
    -ms-transform:scale(1.01); /* IE 9 */
    -moz-transform:scale(1.01); /* Firefox */
    -webkit-transform:scale(1.01); /* Safari and Chrome */
    -o-transform:scale(1.01); /* Opera */   
}
.card-body{
    padding-top: 0px;
}
.cut-img-library{
        max-width: 100%;
        width: 100%;
        /* height: 200px; */
}
.cut-img-library:hover{
    transition: 0.2s linear;
    transform:scale(1.01);
    -ms-transform:scale(1.01); /* IE 9 */
    -moz-transform:scale(1.01); /* Firefox */
    -webkit-transform:scale(1.01); /* Safari and Chrome */
    -o-transform:scale(1.01); /* Opera */ 
}
.header-edit{
     margin-top: 5%;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.btn-search-margin {
    margin-top: 0;
    line-height: 12px;
}

.card-edit-fp{
    margin-top: 30px;
}
.row-edit-fp{
    margin-top: -20px;
}
.row-edit-book-heading-fp{
    margin-bottom: -40px;
}
.md-form{
    margin-top: 60px;
}
p a strong{
    color: #2bbbad !important; 
}
@media screen and (max-width: 767px){
    .card-body {
        margin-top:50px;
    }
}
@media screen and (max-width: 720px){
    
}

#searchLibrary{
    background-color: #2bbbad !important;
}

.page-pointer div a{
    color: #2bbbad !important;
}