
.header-edit-fp{
    height: 10%;
}
.space-letter-heading-fp{
    letter-spacing: 5px;
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.bg-color-fp{
    background: beige;
    padding: 10px;
}
.hr{
    background: orange;
    color: black;
    height: 3px;
    width: 50%;
    margin: auto;
}
table, td{
    padding: 10px;
}
.box-shadow-fp{
    padding: 15px;
}

.mapouter {
    text-align: right;
    height: 500px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 500px;
    width: 100%;
}
.container-fluid-edit-fp{
    padding-right: 0px;
    padding-left: 0px;
}

