.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}

nav.navbar.navbar-expand-lg.navbar-dark.winter-neva-gradient{
    background-color: #354860 ;
}

.bg-light {
    background-color: #f8f9fa!important;
    margin-top: 50px;
}

/* Content */
    /* Library Content */
    .sub-title{
        color: #354860;
    }
    /* End Library Content */


/* End Content */


/* Footer */
.footer-wrapper-sp{
    height: 300px;
    background: #354860;
    padding: 40px;
    padding-bottom: 0;
}   

.footer-container-sp{
    width: 100%;
    height: 226px;
    display: flex;
    border-bottom: 1px solid rgba(255,255,255,.5);
}

.footer-sp{
    flex-grow: 1;
    width: 100px;
}

.footer-sp p{
    color: rgba(255,255,255,.5);
}

.footer-social-sp p:first-child{
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 25px;
}

.footer-social-sp p{
    margin: 0;
    color: rgba(255,255,255,.5);
}


.social-icon-sp img{
    margin: 10px;
    margin-left: 0;
    width: 50px;

}
.btn-outline-secondary{
    color: rgba(255,255,255,.5);
    border-color: #354860;
}
.btn-outline-secondary:hover{
    background-color: #354860;  
}
/* End Footer */