.card-shadow{
    box-shadow: 0px 2px 2px rgb(153, 147, 147) !important;
}



.col-md-4, .col-md-3{
    margin-top: 25px;
}

/* .img.card-img-top.img-book-padding:hover{
    max-width: 100%;
    width: 100%;
    height: 200px;
} */